main {
  min-height: 80vh;
}

.rating i + i {
  margin-left: 0.1rem;
}

.rating span + span {
  display: inline-block;
  margin-left: 0.5rem;
}

.cart-title {
  font-size: 1.8rem;
  padding: 1rem 0;
}

.subtotal-title {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}